.score-container {
  border: 2.5px solid gray;
  padding: 15px 25px;
  border-radius: 15px;
  width: 550px
}

.score-wrapper {
  display: flex;
  justify-content: space-between;
  height: 93.82px;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px 30px;
}

strong {
  font-size: 30px;
}