.choices-container {
  display: flex;
  justify-content: center;
}

.game-button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.paper {
  background: linear-gradient(to bottom, #5b8bf3, #4470e4);
  box-shadow: 0 6px 0 rgba(53, 87, 167, 0.9);
}

.scissors {
  background: linear-gradient(to bottom, #ffb846, #f99c1c);
  box-shadow: 0 6px 0 rgba(211, 133, 29, 0.9);
}

.rock {
  background: linear-gradient(to bottom, #fd6687, #e8384f);
  box-shadow: 0 6px 0 rgba(180, 49, 62, 0.9);
}

.inner-circle {
  width: 80%;
  height: 80%;
  background-color: #f5f5f5;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Ombre en haut du cercle blanc */
  box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
}